.dropdown-menu {
  background-image: url(https://w0.peakpx.com/wallpaper/285/196/HD-wallpaper-anime-girl-anime-girl-cute-girl-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  list-style: none;
  max-height: 250px;
  overflow-y: scroll;
}

.dropdown-menu li {
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

.dropdown-menu.clicked {
  display: none;
}


.dropdown-link {
  left: 0px;
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px;
  font-weight: bold;
  text-align: start;
}

@media screen and (max-width: 960px) {

  .fa-caret-down {
    display: none;
  }

  .dropdown-menu {
    float: left;
    width: 88.5%;
    max-height: 150px ;
    padding: 10px;
    overflow-y: hidden;
    top: 50px;

  }

  .dropdown-menu li {
    float: left;
  }

}