

  body {
    background-color: black;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: purple;
    color: white;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

  .footer a{
    color: #fbff08;
    text-decoration:none;
  }

  .footer :hover a{
    color: #b3b46a;

  }