.footer {
  position: fixed;
  bottom: 0;
  left: auto;
  right: auto;
  padding: 1rem;
  background: purple;
  color: #ffffff;
  font-weight: 200;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
}

.footer a {
  color: #fbff08;
  text-decoration: none;
}

.footer :hover a {
  color: #b3b46a;
}