

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: purple;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header .logo  {
    font-weight: bolder;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.header .navbar ul {
    list-style: none;
}

.header .navbar ul li {
    position: relative;
    float: left;
    left: 0px;
}

.header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.header .navbar ul li a:hover {
    background-color: #b3b46a;
    color: #fff;
}

.header .navbar ul li ul {
    position: absolute;
    left: 0px;
    width: 200px;
    background-color: purple;
    display: none;
}

.header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.header .navbar ul li ul li ul {
    left: 200px;
    top: 0px;
}

.header .navbar ul li:focus-within > ul,
.header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

.header label {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

    .header{
        padding: 1rem;
    }

    .header label{
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background-color: purple;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    .header .navbar ul li {
        width: 100%;
    }

    .header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    .header .navbar ul li ul li {
        background-color: rgb(212, 65, 205);
    }

    .header .navbar ul li ul li ul {
        width: 100%;
        left: 0px;
    }

    #menu-bar:checked ~ .navbar {
        display: inline;
    }
}