* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: transparent;
}

.space {
    padding-bottom: 50px;
}

